<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
  <body>

    <h2>Login</h2>


    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button id="login">Login</button>
    <button id="register">Register</button>
    <script src="/js/login.js"></script>



  </body>
</html>