html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0 0 0 0;
	font-family: Helvetica;
	/*background-color: rgb(255, 254, 247);*/
}

#flex-wrapper
{
	flex-direction: column;
}

/* Navigation Bar */
#nav-bar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(0, 71, 143);
	/*border-bottom: 1px;*/
	/*border-bottom-color: rgb(0, 51, 143);*/
}

#nav-bar-left
{
	display: flex;
}

#nav-bar-left img
{
	padding: 12px 10px 8px 12px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

#nav-bar-left p
{
	padding-left: 20px;
	font-size: 32px;
	color: white;
}

#courses
{
	display: flex;
	flex-direction: row;
}

#courses li
{
	list-style-type: none;
	float: left;
}

#courses a
{
	text-decoration: none;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	color: rgb(181, 219, 255);
}

#courses a:hover
{
	color: rgb(250, 205, 29);
}

#current-link
{
	padding-right: 10px;
	color: white;
}

/* Picture */
#picture img
{
	height: 250px;
	width: 250px;
	border-radius: 8px;
	box-shadow: 5px 5px 8px grey;
	margin-top: 12px;
	margin-left: 12px;
}

/* About Me */
#about-me
{
	margin-left: 12px;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb( 245, 245, 245);
}

#create-quack
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-bottom: 5vh;
	padding-bottom: 5vh;
	border-bottom: 1px solid rgb(0, 71, 143);
}

#create-quack h3
{
	font-size: 2em;
	align-self:flex-start;
	color: rgb(126, 125, 128);
}

#create-quack textarea
{
	margin-bottom: 4vh;
	outline: none;
	resize: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(81, 80, 83);
	background-color: rgb( 245, 245, 245);
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}
button
{
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px 18px 8px 18px;
	border-radius: 5vw;
	border: 1px solid rgb(0, 71, 143);
	background-color: rgb( 245, 245, 245);
	color: rgb(0, 71, 143);
	outline: none;
}

button:hover
{
	background-color: rgb(0, 71, 143);
	color: white;
}

#display-quack
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#display-quack h1
{
	color:rgb(126, 125, 128);
}

.quackDivStyle
{
	margin-bottom: 2vh;
	padding: 20px 20px 20px 20px;
	border: 1px solid rgb(126, 125, 128);
	border-radius: 5px;
	width: 33%;
}

.quackDivStyle h3
{
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: bold;
}

.quackDivStyle p
{
	margin-bottom: 3vh;
}

.buttonContainer
{
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 768px)
{
	

	.quackDivStyle
	{
		width: 75%;
	}
}