html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0 0 0 0;
	font-family: Helvetica;
	background-color: rgb(245, 245, 245);
}

#flex-wrapper
{
	flex-direction: column;
}

/* Navigation Bar */
#nav-bar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(0, 71, 143);
	/*border-bottom: 1px;*/
	/*border-bottom-color: rgb(0, 51, 143);*/
}

#nav-bar-left
{
	display: flex;
    margin-left: 2vw;
}

#nav-bar-left img
{
	padding: 12px 10px 8px 12px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

#nav-bar-left p
{
	padding-left: 20px;
	font-size: 32px;
	color: white;
}

#courses
{
	display: flex;
	flex-direction: row;
    margin-right: 2vw;
}

#courses li
{
	list-style-type: none;
	float: left;
}

#courses a
{
	text-decoration: none;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	color: rgb(181, 219, 255);
}

#courses a:hover
{
	color: rgb(250, 205, 29);
}

#current-link
{
	padding-right: 10px;
    padding-left: 10px;
	color: white;
}

/* Picture */
#picture img
{
	height: 250px;
	width: 250px;
	border-radius: 8px;
	box-shadow: 5px 5px 8px grey;
	margin-top: 12px;
	margin-left: 12px;
}

.register-wrapper
{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.register-container
{
    padding: 5vh 5vw 5vh 5vw;
    border: 1px solid rgb(0, 71, 143);
    border-radius: 10px;
    justify-content: center;
}

.register-container h2
{
    margin-top: 0;
    color: rgb(126, 125, 128);
    text-align: center;
}

.register-container label
{
    margin-bottom: 30px;
    
    color: rgb(0, 71, 143);
}

.register-container input
{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(0, 71, 143);
    border-radius: 5px;
    background-color: rgb( 245, 245, 245);
}

button
{
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px 18px 8px 18px;
	border-radius: 5vw;
	border: 1px solid rgb(0, 71, 143);
	background-color: rgb( 245, 245, 245);
	color: rgb(0, 71, 143);
	outline: none;
}

button:hover
{
	background-color: rgb(0, 71, 143);
	color: white;
}

@media only screen and (max-width: 768px)
{
    .register-container
    {
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    .register-container label
    {
        margin-left: 10vw;
    }

    .register-container input
    {
        width: 70%;
        margin-left: 10vw;
    }

    .button-container
    {
        margin-left: 15vw;
    }
}